@page "/"
@inject HttpClient Http

<div class="jumbotron">
    <h2>Welcome to BDotNet DevCon'19</h2>
    <h5>
    <a href="https://www.meetup.com/bdotnetug" target="_blank">BDotNet</a>
    brings you the ultimate developer conference of 2019. Come and Join us to learn more on <b>Microservices,
    Containers, AI, Mobile DevOps</b> etc.,
    </h5>
</div>

<h3>Event Agenda</h3>

@if(sessions == null) 
{
    <p>Loading agenda ... </p>
}
else
{
    <div class="row">
        <ul>
    @foreach(var session in sessions)
    {
        <hr>
        <li class="media my-4">
            <img class="mr-3" src="@session.SpeakerImage" class="avatar"/>
            <div class="media-body">
            <h4 class="mt-0 mb-1 ml-3">@session.Title</h4>
            <h5 class="mt-0 mb-1 ml-3">@session.Speaker</h5>
            <h6 class="mt-0 mb-1 ml-3">@session.Time</h6>
            </div>
        </li>
        
    }
    </ul>
    </div>
}

<tito-widget event="bdotnetug/devcon19"></tito-widget>

<tito-button event="bdotnetug/devcon19"></tito-button>

@functions {

    Session[] sessions;

    protected override async Task OnInitAsync()
    {
        sessions = await Http.GetJsonAsync<Session[]>("sample-data/sessions.json");
    }
    
    class Session
    {
        public string Title {get;set;}
        public string Speaker {get;set;}
        public string Time {get;set;}
        public string SpeakerImage {get;set;}
    }
}

