@page "/sessions"
@inject HttpClient Http

@if(sessions == null) 
{
    <p>Loading agenda ... </p>
}
else
{
    <div class="row">
    @foreach(var session in sessions)
    {
        @if(session.Abstract!=null)
        {
            <div class="col-md-12">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">@session.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@session.Speaker</h6>
                        <p class="card-text text-justify">@session.Abstract</p>    
                    </div>
                </div>
            </div>
            <br>
        } 
    }
    </div>
}

@functions {

    Session[] sessions;

    protected override async Task OnInitAsync()
    {
        sessions = await Http.GetJsonAsync<Session[]>("sample-data/sessions.json");
    }
    
    class Session
    {
        public string Title {get;set;}
        public string Speaker {get;set;}
        public string Time {get;set;}
        public string SpeakerImage {get;set;}
        public string Abstract {get;set;}
    }
}