@page "/sponsors"
<h2>Thanks a ton for sponsoring us with sumptuous food & goodies</h2>
<br>
<hr>


<div class="row">
    <div class="col-md-4">
        <a href="https://dotnetfoundation.org/" target="_blank">
             <img src="assets/dotnetfoundation.png" width="100%">
        </a>
    </div>
     <div class="col-md-4">
        <a href="https://www.microsoft.com" target="_blank">
            <img src="assets/Microsoft.png" width="100%">
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://jetbrains.com" target="_blank">
            <img src="assets/jetbrains.svg" width="100%">
        </a>
    </div>
</div>
<!-- <div class="row">
   
    <div class="col-md-4">
        <a href="https://revdebug.com" target="_blank">
            <img src="assets/RevDebug.png" width="100%">
        </a>
    </div>
    
</div> -->