@page "/venue"
<h1>Venue</h1>
<br>
<hr>
	<div class="card text-white bg-dark">
        <div class="card-body">
            <h3 class="card-title">Microsoft India (R&D) Pvt Ltd </h3>
		    <p class="card-text">Prestige Ferns Galaxy</p> 
		    <p class="card-text">Ambalipura Village, Varthur Hobli</p>
		    <p class="card-text">Outer Ring Road, Bangalore – 560103</p>
        </div>
	</div>
<br>

<div class="col-md-12">
	<div class="mu-venue-map">
    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.785311811716!2d77.66680601424262!3d12.921515619472826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13c62d519561%3A0xe80b39fe9cce7627!2sMicrosoft+India+R%26D+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1536597135448"
		 width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>

