@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
            <a href="https://ti.to/bdotnetug/devcon19" target="_blank" class="ml-md-auto" style="font-size: 25px;">Register</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
    <footer>
        <div style="text-align: center">
            © BDotNet 2019 | Built in <span><ion-icon name="heart"></ion-icon></span> with <a href="https://blazor.net" target="_blank">Blazor</a>
        </div>
      </footer>
</div>
