<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DevCon'19</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sessions">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Sessions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="speakers">
            <span class="oi oi-people" aria-hidden="true"></span> Speakers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="venue">
            <span class="oi oi-location" aria-hidden="true"></span> Venue
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sponsors">
            <span class="oi oi-dollar" aria-hidden="true"></span> Sponsors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://ti.to/bdotnetug/devcon19" target="_blank">
            <span class="oi oi-account-login" aria-hidden="true"></span> Register
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
